.header .name,.main,.site-nav li {
    font-family: Raleway,verdana
}

.left-btn:hover,.right-btn:hover,.site-nav li,.team-btn:hover,a:active,a:hover {
    text-decoration: none
}

.axe-team,.fux-team,.genesis-team,.ion-team,.site-nav {
    overflow: hidden
}

.no-js #loader {
    display: none
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0
}

.header,.se-pre-con {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0
}

.se-pre-con {
    height: 100%;
    z-index: 9999;
    background: url(loading.gif) center no-repeat #fff
}

.header {
    background-color: transparent;
    height: 56px;
    z-index: 4242
}

.scroll-nav {
    background-color: rgba(200,200,255,.7)
}

.header .name {
    position: relative;
    font-weight: 100;
    font-size: 2.4rem;
    top: 12px;
    left: 29px;
    color: #fff
}

.event-cell:after,.site-nav li:after {
    content: "";
    left: 0
}

.twist {
    font-weight: 400;
    background: #e74c3c;
    padding: 5px 8px;
    border-radius: 5px
}

.site-nav {
    position: absolute;
    background: #535960;
    color: #fff;
    top: 100%;
    right: 0;
    height: 0
}

.site-nav--open {
    height: auto
}

.site-nav li {
    padding: 3rem 8rem;
    position: relative;
    z-index: 1;
    font-size: 1.6rem;
    font-weight: 300;
    border-bottom: 1px solid #575766;
    transition: height .3s
}

.site-nav li:last-child {
    border-bottom: none
}

.site-nav a {
    color: #ebebd3
}

.site-nav ul {
    padding: 0;
    margin: 0
}

.site-nav li:after {
    position: absolute;
    z-index: -1;
    opacity: 0;
    background: #fff;
    top: 0;
    width: 0;
    height: 100%;
    transition: .3s ease-in-out
}

.site-nav li:hover:after {
    width: 100%;
    right: 0;
    opacity: .9
}

.site-nav li:hover a {
    color: #000
}

.menu-toggle {
    position: absolute;
    top: .55rem;
    right: 1rem;
    padding: 1.3rem;
    cursor: pointer
}

.arrow-bounce,.event,.event h1,.event p,.event-cell,.main {
    position: relative;
}

.aloo-tikki,.aloo-tikki:after,.aloo-tikki:before {
    content: "";
    display: block;
    height: 3px;
    background: #e74c3c;
    width: 3em;
    transition: .3s
}

.aloo-tikki:before {
    transform: translateY(-6px)
}

.aloo-tikki:after {
    transform: translateY(3px)
}

.open .aloo-tikki {
    transform: rotate(45deg)
}

.open .aloo-tikki:before {
    opacity: 0
}

.open .aloo-tikki:after {
    transform: translateY(-2px) rotate(-90deg)
}

.main {
    background-image: url(main-one.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    background-attachment: fixed;
    top: 0;
    height:840px;
    padding-top: 200px;
    z-index: 1;
    color: #fff
}

.main h1 {
    font-size: 6rem;
    color: #fff;
    padding-top:10%;
    font-weight: 500;
}

.main h3 {
    font-weight: 300;
    color: #e0e0e0;
    font-family: Roboto,verdana;
    padding-bottom: 30px
}

.left-btn,.right-btn {
    padding: 10px;
    margin: 10px;
    font-weight: 300;
    font-family: Raleway,verdana;
    transition: .3s
}

.left-btn {
    color: #fff;
    font-size:2rem;
    background:#F44336;
    font-weight:500;
    border: 1px solid #F44336;
    border-radius:25px;
    padding-right:3%;
    padding-left:3%;
    padding-top:1%;
    padding-bottom:1%;
}
.left-btn:hover {
    color:#F44336;
    background:#fff;
    border-color:#fff;
}

.right-btn {
    color: #000;
    border: 1px solid #2ecc71;
    background: #2ecc71
}

.right-btn:hover {
    background: 0 0;
    color: #2ecc71
}

.arrow-bounce {
    padding-top: 240px;
    padding-bottom: 20px;
    font-size: 4rem
}

.about-row {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex
}

.about-textbox {
    padding: 70px;
    flex: 2
}

.club-textbox h1 {
    font-family: Raleway,verdana;
    font-weight: 500;
    font-size: 3rem;
    color: #34495e;
}

.club-textbox p {
    font-size: 2rem;
    font-weight: 400;
    font-family: Raleway,verdana;
    text-align: justify;
    color: #7f8c8d
}

.about-image {
    flex: 1
}

@media all and (max-width: 500px) {
    .about-row {
        flex-direction:column
    }
    .event{
        background-repeat:repeat;
    }
}

.club-info {
    margin: 15px;
    padding: 20px;
    flex: 1
}

.event {
    padding-top: 200px;
    padding-bottom: 280px;
    color:#fff;
    background-image:url("BG.png");
}

.event h1 {
    font-size: 7rem;
    font-family: Raleway,verdana;
    font-weight: 500;
}

.event p {
    top: 10px;
    width: 70%;
    font-family: Raleway,verdana;
    font-weight: 400;
    font-size: 2rem
}

.events {
    padding-top: 60px;
    padding-bottom: 100px
}

.event-name {
    display: inline-block;
    margin: 20px
}

.event-cell {
    padding: 13px;
    border-radius: 0px;
    font-family: Raleway,verdana;
    font-size: 2.4rem;
    background:#FF5252;
    font-weight: 400;
    border: 2px solid #FF5252;
    color:#fff;
    transition: .3s;
    border-radius:0px;
    display: inline-block;
    z-index: 1
}
.flux-team,.team {
    position: relative
}
.event-cell:hover{
    color:#FF5252;
    background:#fff;
    transition:0.3s;
}
button:active,button:focus {
    outline: 0
}

.modal-body {
    font-family: Raleway,verdana;
    font-weight: 400
}

.modal-title {
    font-family: Roboto,verdana;
    font-size: 3rem;
    font-weight: 200
}

.events h1,.team h1,.team-btn {
    font-family: Raleway,verdana;
}

.flux-eve {
    background: #34495e;
}

.events h1 {
    font-size: 7rem;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 50px
}

.modal-dialog {
    margin-top: 100px
}

.team {
    padding-top: 150px;
    padding-bottom: 180px;
    background:#D32F2F;
}

.team h1 {
    font-size: 6rem;
    font-weight: 500;
    color:#fff;
    padding-bottom: 80px
}

.team-btn,.team-cell {
    width: 200px;
    font-weight: 300;
    display: inline-block
}

.team-btn {
    font-size: 2rem;
    padding: 15px;
    background: #fff;
    border-radius: 30px;
    color: #D32F2F;
    font-weight:500;
    margin: 20px;
    cursor: pointer;
    transition: .3s
}

.team-btn:hover {
    color: #D32F2F;
    font-weight:500;
    border-radius: 0
}

.flux-team {
    top: 100px
}

#text-2,#text-2 a {
    text-decoration: none;
    position: relative;
    top: 10px;
    font-family: Raleway,verdana
}

.team-cell {
    border: 1px dashed #95a5a6;
    padding: 0;
    color:#fff;
    font-family: Raleway,verdana;
    margin: 2.5px;
    border-radius: 10px
}

.genesis-team {
    height: 0
}

.genesis-team-expanded {
    height: auto
}

.axe-team {
    height: 0
}

.axe-team-expanded {
    height: auto
}

.ion-team {
    height: 0
}

.ion-team-expanded {
    height: auto
}

.fux-team {
    height: 0
}

.fux-team-expanded {
    height: auto
}

#contact {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px
}
.contact h1 {
    text-align: center;
    padding-bottom: 70px;
    font-family: Raleway,verdana;
    font-size: 4em;
    font-weight: 500;
}

.contax {
    font-size: 11px;
    width: 200px;
    font-weight:bolder;
    text-transform:uppercase;
    display: inline-block;
    -webkit-transition: .5s;
    cursor: pointer;
    margin: 20px
}
.one{
    display:inline;
    padding-right:5%;
    margin-bottom:2%;
}

#text-2 {
    align-content: center;
    opacity: 0;
    -webkit-transition: .5s ease-in-out
}

#text-2 a {
    color: #000
}

.contax:hover #text-2 {
    opacity: 1
}

.footer {
    padding: 25px;
    background: #34495e;
    color: #fff;
    font-size: 2rem;
    font-family: Raleway,verdana;
    font-weight: 500;
    text-transform:uppercase;
}
.easter{
    opacity: 0;
    transition: ease-in-out 0.3s;
}
section a{
    color: white;
    text-decoration: underline;
}
section a:hover{
    color: white;
}
.easter.is-showing{
    opacity: 1;
}
.new-btn {
    color: #fff;
    font-size:2rem;
    background:#F44336;
    font-weight:500;
    border: 1px solid #F44336;
    border-radius:25px;
    padding-right:3%;
    padding-left:3%;
    padding-top:1%;
    padding-bottom:1%;
}
.new-btn:hover {
    color:#F44336;
    background:#fff;
    border-color:#fff;
}
